<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <Filters>
                <RegexFilter regex="^Cannot (push|pop).*profiler tick hasn't started.*$"
                             onMatch="DENY" onMismatch="NEUTRAL"/>
                <RegexFilter regex=".*\[STDOUT\]:.*"
                             onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] (%logger{1}) %msg{nolookups}%n"/>
        </Console>
        <RollingRandomAccessFile name="LatestFile"
                                 fileName="logs/latest.log"
                                 filePattern="logs/archive/latest-%d{yyyy-MM-dd-HH-mm-ss}-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] (%logger{1}) %msg{nolookups}%n"/>
            <DefaultRolloverStrategy fileIndex="nomax"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="200MB"/>
            </Policies>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="DebugFile"
                                 fileName="logs/debug.log"
                                 filePattern="logs/archive/debug-%d{yyyy-MM-dd-HH-mm-ss}-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] (%logger) %msg{nolookups}%n"/>
            <DefaultRolloverStrategy fileIndex="nomax"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="200MB"/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Logger name="com.mojang.authlib.yggdrasil.YggdrasilServicesKeyInfo"
                level="info" additivity="false">
            <AppenderRef ref="LatestFile" level="info"/>
            <AppenderRef ref="DebugFile" level="debug"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LatestFile" level="info"/>
            <AppenderRef ref="DebugFile" level="debug"/>
        </Root>
    </Loggers>
</Configuration>
